   * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}
	.row {
	width= 100%;
	}
body  {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 90%;
}
h1 {
	margin: 3% 0 6% 0; 
	font-size: 175%;
	text-align: center;
	}
.box {
	border: 1px solid #000;
	background-color: rgba(3,189,20,0.6);
	width: 97%;
	margin: 0 auto 2% auto;
	height: 160px;
	text-align: center;
}

.sect-title
{
	width: 32%;
	border: 1px solid #000;
	border-right: 0;
	border-top: 0;
	position: relative;
	top: 0;
	right: -68%;
	font-size: 125%;
	text-align: center;
	margin-bottom: 2%;
}

.bg1  {background-color: rgba(0,18,220,0.6);}
.bg2  {background-color: rgba(255,40,20,0.6);}
.bg3  {background-color: rgba(231,189,20,0.6);}
	
@media (min-width: 768px)
{
	.col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
		float: left;
		}
.col-tablet-1 {width: 8.33%;}
.col-tablet-2 {width: 16.66%;}
.col-tablet-3 {width:  25%;}
.col-tablet-4 {width: 33.33%;}
.col-tablet-5 {width: 41.66%;}
.col-tablet-6 {width: 50%;}
.col-tablet-7 {width: 58.33%;}
.col-tablet-8 {width: 66.66%;}
.col-tablet-9 {width: 75%;}
.col-tablet-10 {width: 83.33%;}
.col-tablet-11 {width: 91.66%;}
.col-tablet-12 {width: 100;}
}
@media (min-width: 992px)
{
	.col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4, .col-desktop-5, .col-desktop-6, .col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12 {
		float: left;
	}
.col-desktop-1 {width: 8.33%;}
.col-desktop-2 {width: 16.66%;}
.col-desktop-3 {width:  25%;}
.col-desktop-4 {width: 33.33%;}
.col-desktop-5 {width: 41.66%;}
.col-desktop-6 {width: 50%;}
.col-desktop-7 {width: 58.33%;}
.col-desktop-8 {width: 66.66%;}
.col-desktop-9 {width: 75%;}
.col-desktop-10 {width: 83.33%;}
.col-desktop-11 {width: 91.66%;}
.col-desktop-12 {width: 100;}
}